In [ ]:
'''
=================================================
Milestones 1

Nama  : Mirza Rendra Sjarief
Batch : CODA-RMT-001

Program ini dibuat untuk melakukan automatisasi pengambilan data dari suatu website ( web scraping ) dengan mengendalikan browser 
melalui skrip otomatis. Berupa data informasi produk dalam website Bukalapak.com, yang didalamnya meliputi data mengenai Nama_Produk, Harga, Total_Terjual,	Rating,	Nama_Toko, dan	Kota_Toko.
Semua data tersebut kemudian diubah ke dalam bentuk Data Frame, dan melalui tahap data preparation untuk memudahkan dalam  proses eksplorasi informasi data hingga penyajian laporan.
Setelah itu hasil pengolahan DataFrame diubah ke dalam bentuk file csv dan dilanjutkan dengan pembuatan database PostgreSQL berdasarkan hasil pengolahan file csv DataFrame  dngan menyesuaikan kolom dan tipe data dengan data yang ada.
=================================================
'''

In [41]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

- < from selenium import webdriver > :
- Mengimpor webdriver dari selenium ke dalam kode python, selenium  adalah pustaka (library) yang meng-otomatisasikan interaksi dengan web browser, dan webdriver adalah salah satu komponen utama yang digunakan untuk mengendalikan browser melalui skrip otomatis.

- < from bs4 import BeautifulSoup > :
- Mengimpor BeautifulSoup soup dari modul Bs4 ke dalam kode pyton, BeautifulSoup merupakan pustaka python yang digunakan untuk mengurai (parsing) dokumen HTML atau XML dan mengestrak data, yang sangat berguna untuk web scraping.

- < import pandas as pd > :
- Perintah python yang digunakan untuk mengimpor pandas untuk menganalisis dan memanipulasi data. Pandas sendiri
adalah salah satu pustakas (library) eksternal yang bekerja dengan  data tabel seperti csv, excel, etc.

- < import time > :
- import time, berasal dari modul time yang menyediakan berbagai fungsi yang berkaitan dengan waktu, contoh: seperti penggunaan fungsi time.sleep() di bawah yang berarti menunda eksekusi program.

In [42]:
nama_brand = []
harga_hp = []
total_terjual = []
toko_penjual = []
lokasi_penjual = []
rating_brand = []

- Pembuatan list [] kosong sementara bertujuan untuk menampung data-data hasil dari iterasi variable countainer_produk yang kemudian digunakan untuk mengisi data tiap kolom dan baris dari data frame. 
- Dalam python sendiri list merupakan array, yaitu struktur data yang tersusun terurut dari elemen yang didefinisikan dalam kurung siku. Dalam python list kosong didefinisikan sebagai list tanpa elemen atau item di dalam list.

In [43]:
driver = webdriver.Safari()

for i in range (1,11):

    driver.get(f'https://www.bukalapak.com/c/handphone/hp-smartphone/hp-android?page={i}')
    inspect = driver.page_source
    time.sleep(1)
    html = driver.page_source

    soup = BeautifulSoup(html,'html.parser')

    container_produk = soup.find_all('div',{"class":"bl-flex-item mb-8"})

    for container in container_produk : 
        nama = container.find("p",{"class":"bl-text bl-text--body-14 bl-text--secondary bl-text--ellipsis__2"})
        if nama != None : 
            nama_brand.append(nama.text) 
        else:
            nama_brand.append(nama) 


        harga = container.find("p",{"class":"bl-text bl-text--semi-bold bl-text--ellipsis__1 bl-product-card-new__price"})
        if harga != None :
            harga_hp.append(harga.text)
        else:
            harga_hp.append(harga)


        lokasi = container.find("p",{"class":"bl-text bl-text--caption-12 bl-text--secondary bl-text--ellipsis__1 bl-product-card-new__store-location"})
        if lokasi != None :
            lokasi_penjual.append(lokasi.text)
        else:
            lokasi_penjual.append(lokasi)


        terjual = container.find("p",{"class":"bl-text bl-text--caption-12 bl-text--secondary bl-product-card-new__sold-count"})
        if   terjual != None :
            total_terjual.append(terjual.text)
        else:
            total_terjual.append(terjual)

        
        toko = container.find("p",{"class":"bl-text bl-text--caption-12 bl-text--secondary bl-text--ellipsis__1 bl-product-card-new__store-name"})
        if   toko != None :
            toko_penjual.append(toko.text)
        else:
            toko_penjual.append(toko)


        rating = container.find("p",{"class":"bl-text bl-text--caption-12 bl-text--bold"})
        if rating != None :
            rating_brand.append(rating.text)
        else:
            rating_brand.append(rating)

- < driver = webdriver.Safari() > :

- Perintah python untuk meng - inisialisasi
Safari WebDriver dengan selenium, dengan memanggil web driver khusus untuk perambahan web (browser) Safari, dengan fungsi : membuka tab browser, mengunjungi halaman web, dapat juga digunakan untuk mengisi form, atau klik tombol secara otomatis.


- < for i in range (1,11) > :

- Dilanjutkan dengan membuat variabel i yang akan digunakan dalam iterasi halaman web, dimana nilai i akan berubah pada setiap iterasi. Dengan membuat urutan angka 1 - 11, dalam kasus ini yang dimaksud adalah melalui 1 - 10 halaman web, karena dalam python angka 11 akan menjadi tembok atau pembatas.


- < driver.get(f'https://www.bukalapak.com/c/handphone/hp-smartphone/hp-android?page={i}') > :

- driver.get() digunakan untuk membuka URL yang dikendalikan oleh selenium webdriver. parameter page = {i} adalah variabel i yang merupakan URL dinamis untuk berpindah halaman pencarian web browser Safari.


- < driver.page_source > :

- Perintah untuk mendapatkan sumber kode html dari laman web yang dimuat oleh webdriver.


- < soup = BeautifulSoup(html,'html.parser') > :

- Beautifulsoup digunakan untuk mem-parsing atau mengurai HTML yang hasilnya disimpan dalam variabel soup.


- < container_produk = soup.find_all('div',{"class":"bl-flex-item mb-8"}) > :

- container_produk adalah variabel berbentuk list untuk mewadahi semua bentuk elemen "produk" contoh: nama produk, harga, etc. yang  pada halaman web masih berbentuk kontainer penuh berisi data produk, berbentuk division < div > memiliki kelas "bl-flex-item mb-8", pada satu halaman web Bukalapak.com."


- < for container in container_produk > :

- Pengolahan variable container untuk meng-iterasi setiap elemen yang terdapat dalam container_produk, dimana berisikan daftar elemen yang didapat dari halaman web yang berisi informasi produk dalam container ('div',{"class":"bl-flex-item mb-8")."


 - < nama = container.find("p",{"class":"bl-text bl-text--body-14 bl-text--secondary bl-text--ellipsis__2"}) > :

- Kemudian menggunakan variable container dalam menjalankan pencarian single elemen di dalam {'class':"bl-text bl-text--body-14 bl-text--secondary bl-text--ellipsis__2"}, yang merupakan salah satu elemen dari container_produk. Dengan tujuan untuk menarik "nama_brand", yang kemudian dimasukan ke dalam variabel baru yaitu nama.


- < if nama != None > : 

- Sebuah kondisi yang dibuat sebagai filter, yaitu jika elemen dalam variabel nama ditemukan dan memiliki value, maka elemen tersebut tidak akan dianggap sebagai None.


- < nama_brand.append(nama.text) > :

- kondisi apabila elemen ditemukan dan memiliki value maka secara otomatis akan diekstrak kedalam bentuk text serta menghilangkan tag html nya. Lalu ditambahkan ke dalam list nama_brand.


- < else: nama_brand.append(nama) > :

- kondisi lainnya apabila tidak memiliki value akan di tambahkan ke dalam list nama_bran dengan bentuk None."

- Dilanjutkan dengan metode looping yang sama untuk list harga_hp hingga rating_brand

In [44]:
data = pd.DataFrame({"Nama_Produk":nama_brand,
                    "Harga":harga_hp,
                    "Total_Terjual":total_terjual,
                     "Rating":rating_brand,
                     "Nama_Toko":toko_penjual,
                     "Kota_Toko":lokasi_penjual})
data

,Nama_Produk,Harga,Total_Terjual,Rating,Nama_Toko,Kota_Toko
0,\n Samsung Galaxy A12 4 128 GB Ga...,\n 2.476.000\n,\n Terjual 20612\n,\n 4.9\n,\n Rdj_cell\n ...,\n Jakarta Pusat\n ...
1,\n Xiaomi Redmi 9A 2 32 GB Garans...,\n 1.392.000\n,\n Terjual 16008\n,\n 5\n,\n Rdj_cell\n ...,\n Jakarta Pusat\n ...
2,\n Xiaomi Redmi 9c 4 64 GB Garans...,\n 1.941.000\n,\n Terjual 11334\n,\n 5\n,\n Rdj_cell\n ...,\n Jakarta Pusat\n ...
3,\n Infinix Hot 11 Play 4 64 GB Ga...,\n 1.834.000\n,\n Terjual 7490\n,\n 5\n,\n Rdj_cell\n ...,\n Jakarta Pusat\n ...
4,\n Infinix Hot 11s NFC 6 128 GB G...,\n 2.469.000\n,\n Terjual 6764\n,\n 5\n,\n Rdj_cell\n ...,\n Jakarta Pusat\n ...
...,...,...,...,...,...,...
95,\n iPhone 11 256GB 128GB 64GB Ful...,\n 4.361.000\n,\n Terjual 140\n,\n 5\n,\n Mimin store\n ...,\n Jakarta Barat\n ...
96,\n Softcase blackmatte Vivo V9 17...,\n 7.500\n,\n Terjual 139\n,\n 4.8\n,\n Farah_collection\n ...,\n Kediri\n
97,\n iPhone XS MAX 512GB 256GB 64GB...,\n 5.500.000\n,\n Terjual 138\n,\n 4.9\n,\n Mimin store\n ...,\n Jakarta Barat\n ...
98,\n Softcase auto fokus Vivo Y17 Y...,\n 9.500\n,\n Terjual 136\n,\n 4.9\n,\n Farah_collection\n ...,\n Kediri\n
99,\n Case koper Samsung galaxy A71 ...,\n 12.500\n,\n Terjual 136\n,\n 4.9\n,\n Farah_collection\n ...,\n Kediri\n

- < data = pd.DataFrame > :

- Merupakan tahap mengubah objek dari hasil web scraping website Bukalapak.com kedalam bentuk table lengkap yang terdiri dari index, baris dan kolom, atau yang disebut dengan Data Frame.

- Data Frame diatas memiliki data  index 0 - 99,  100 baris, dan 6 kolom

In [47]:
replacement = [(".",""),("\n",""),(" ","")]
for old, new in replacement:
    data['Harga'] = data['Harga'].str.replace(old, new)

replacement = [("\n","")]
for old, new in replacement:
    data['Nama_Produk'] = data['Nama_Produk'].str.replace(old, new)

    replacement = [("\n",""),("_"," ")]
for old, new in replacement:
    data['Nama_Toko'] = data['Nama_Toko'].str.replace(old, new)

    replacement = [("\n","")]
for old, new in replacement:
    data['Kota_Toko'] = data['Kota_Toko'].str.replace(old, new)

    replacement = [("\n",""),("Terjual","")]
for old, new in replacement:
    data['Total_Terjual'] = data['Total_Terjual'].str.replace(old, new)

    replacement = [("\n","")]
for old, new in replacement:
    data['Rating'] = data['Rating'].str.replace(old, new)


   
data

,Nama_Produk,Harga,Total_Terjual,Rating,Nama_Toko,Kota_Toko
0,Samsung Galaxy A12 4 128 GB Gara...,2476000,20612,4.9,Rdj cell,Jakarta Pusat
1,Xiaomi Redmi 9A 2 32 GB Garansi ...,1392000,16008,5,Rdj cell,Jakarta Pusat
2,Xiaomi Redmi 9c 4 64 GB Garansi ...,1941000,11334,5,Rdj cell,Jakarta Pusat
3,Infinix Hot 11 Play 4 64 GB Gara...,1834000,7490,5,Rdj cell,Jakarta Pusat
4,Infinix Hot 11s NFC 6 128 GB Gar...,2469000,6764,5,Rdj cell,Jakarta Pusat
...,...,...,...,...,...,...
95,iPhone 11 256GB 128GB 64GB Fulls...,4361000,140,5,Mimin store,Jakarta Barat
96,Softcase blackmatte Vivo V9 1727...,7500,139,4.8,Farah collection ...,Kediri
97,iPhone XS MAX 512GB 256GB 64GB f...,5500000,138,4.9,Mimin store,Jakarta Barat
98,Softcase auto fokus Vivo Y17 Y15...,9500,136,4.9,Farah collection ...,Kediri
99,Case koper Samsung galaxy A71 A7...,12500,136,4.9,Farah collection ...,Kediri

- < .str.replace() > :

- Definisi : Adalah metode dalam pandas untuk mengganti substring tertentu dalam nilai dari suatu kolom yang berisi data bertipe string yang berguna untuk memodifikasi data string dengan mengganti sebagian atau seluruh text yang terdapat pada setiap elemen.


- Berikut merupakan metode untuk  menghapus,mengganti symbol, koma, maupun menambahkan elemen untuk tipe data yang berbentuk string, dengan menggunakan metode .str.replace()

- < replacement = [(".",""),("\n",""),(" ","")] > :
- Dimulai dengan membuat variable replacement yang berisi elemen untuk menggantikan isi dari baris suatu kolom. Dalam kasus ini untuk menghilangkan simbol ".", "\n" dan spasi " ".


- < for old, new in replacement > :
- Sebuah perintah iterasi untuk data lama "old" dan data baru "new" dalam variable replacement.

- < data['Harga'] = data['Harga'].str.replace(old, new) > :
- Untuk kemudian mengubah isi data lama dalam kolom 'Harga' dengan data baru.

In [58]:
data['Nama_Produk']=data['Nama_Produk'].str.title()
data['Nama_Toko']=data['Nama_Toko'].str.title()
data

,Nama_Produk,Harga,Total_Terjual,Rating,Nama_Toko,Kota_Toko
0,Samsung Galaxy A12 4 128 Gb Gara...,2476000,20612,4.9,Rdj Cell,Jakarta Pusat
1,Xiaomi Redmi 9A 2 32 Gb Garansi ...,1392000,16008,5.0,Rdj Cell,Jakarta Pusat
2,Xiaomi Redmi 9C 4 64 Gb Garansi ...,1941000,11334,5.0,Rdj Cell,Jakarta Pusat
3,Infinix Hot 11 Play 4 64 Gb Gara...,1834000,7490,5.0,Rdj Cell,Jakarta Pusat
4,Infinix Hot 11S Nfc 6 128 Gb Gar...,2469000,6764,5.0,Rdj Cell,Jakarta Pusat
...,...,...,...,...,...,...
95,Iphone 11 256Gb 128Gb 64Gb Fulls...,4361000,140,5.0,Mimin Store,Jakarta Barat
96,Softcase Blackmatte Vivo V9 1727...,7500,139,4.8,Farah Collection ...,Kediri
97,Iphone Xs Max 512Gb 256Gb 64Gb F...,5500000,138,4.9,Mimin Store,Jakarta Barat
98,Softcase Auto Fokus Vivo Y17 Y15...,9500,136,4.9,Farah Collection ...,Kediri
99,Case Koper Samsung Galaxy A71 A7...,12500,136,4.9,Farah Collection ...,Kediri



- Diatas adalah bentuk penggunaan metode .str.title() yang merupakan metode pengolahan dan modifikasi data bertipe string dengan mentransform huruf awalan dari suatu teks dalam kolom menjadi huruf kapital.

In [48]:
data ['Harga'] = data ['Harga'].astype(int)

data ['Total_Terjual'] = data ['Total_Terjual'].astype(int)

data ['Rating'] = data ['Rating'].astype(float)



-  Diatas merupakan penggunaan metode yang digunakan untuk mengubah tipe data pada suatu kolom data frame, yaitu astype(int). Dalam kasus ini digunakan untuk mengubah objek menjadi integer dan float, pada kolom "Harga" (int), "Total_Terjual" (int), dan "Rating" (float).

In [66]:
datadrop = data.dropna()
datadrop

,Nama_Produk,Harga,Total_Terjual,Rating,Nama_Toko,Kota_Toko
0,Samsung Galaxy A12 4 128 Gb Gara...,2476000,20612,4.9,Rdj Cell,Jakarta Pusat
1,Xiaomi Redmi 9A 2 32 Gb Garansi ...,1392000,16008,5.0,Rdj Cell,Jakarta Pusat
2,Xiaomi Redmi 9C 4 64 Gb Garansi ...,1941000,11334,5.0,Rdj Cell,Jakarta Pusat
3,Infinix Hot 11 Play 4 64 Gb Gara...,1834000,7490,5.0,Rdj Cell,Jakarta Pusat
4,Infinix Hot 11S Nfc 6 128 Gb Gar...,2469000,6764,5.0,Rdj Cell,Jakarta Pusat
...,...,...,...,...,...,...
95,Iphone 11 256Gb 128Gb 64Gb Fulls...,4361000,140,5.0,Mimin Store,Jakarta Barat
96,Softcase Blackmatte Vivo V9 1727...,7500,139,4.8,Farah Collection ...,Kediri
97,Iphone Xs Max 512Gb 256Gb 64Gb F...,5500000,138,4.9,Mimin Store,Jakarta Barat
98,Softcase Auto Fokus Vivo Y17 Y15...,9500,136,4.9,Farah Collection ...,Kediri
99,Case Koper Samsung Galaxy A71 A7...,12500,136,4.9,Farah Collection ...,Kediri


- Diatas adalah penggunaan metode .dropna(), yang merupakan metode untuk memisahkan/menghapus  baris yang mengandung NULL values, atau dengan kata lain tidak memiliki value. Dalam kasus ini bertujuan untuk memfilter produk yang tidak memiliki value dan menghapusnya, sehingga tercapai value yang seimbang di tiap kolom untuk pengolahan data lebih lanjut, yang  kemudian dimasukan ke dalam variable "datadrop""
- Diatas dapat disimpulkan bahwa data frame ini terdiri dari 97 baris data produk dengan data valid.

In [68]:
datadrop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nama_Produk    97 non-null     object
 1   Harga          97 non-null     int64
 2   Total_Terjual  97 non-null     int64
 3   Rating         97 non-null     float64
 4   Nama_Toko      97 non-null     object
 5   Kota_Toko      97 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 5.3+ KB

- Diatas merupakan penggunaan metode data.info() untuk melihat struktur data dari DataFrame. Apabila dilihat di atas dapat dipastikan bahwa dataframe ini sudah memiliki value yang sama tiap kolom, dengan index 0 - 99. Terdiri dari 97 baris dan 6 kolom. Index di atas tetap berada di angka 99 karena awalnya memiliki 100 baris, yang telah diratakan valuenya dengan menghapus baris yang tidak mengandung data (Null/None) dengan metode .dropna().
- Dapat dilihat pada tipe data setelah dilakukan pengolahan dengan metode astype() telah merubah kolom Harga, dan Total_Terjual  menjadi data type int, dan  Rating menjadi data type float yang sebelumnya bertipe object.

In [69]:
datadrop.head()

,Nama_Produk,Harga,Total_Terjual,Rating,Nama_Toko,Kota_Toko
0,Samsung Galaxy A12 4 128 Gb Gara...,2476000,20612,4.9,Rdj Cell,Jakarta Pusat
1,Xiaomi Redmi 9A 2 32 Gb Garansi ...,1392000,16008,5.0,Rdj Cell,Jakarta Pusat
2,Xiaomi Redmi 9C 4 64 Gb Garansi ...,1941000,11334,5.0,Rdj Cell,Jakarta Pusat
3,Infinix Hot 11 Play 4 64 Gb Gara...,1834000,7490,5.0,Rdj Cell,Jakarta Pusat
4,Infinix Hot 11S Nfc 6 128 Gb Gar...,2469000,6764,5.0,Rdj Cell,Jakarta Pusat

- Diatas merupakan penggunaan metode .head()  dalam pandas yang digunakan untuk memperlihatkan 5 baris pertama dari Data Frame.

In [70]:
datadrop.tail()

,Nama_Produk,Harga,Total_Terjual,Rating,Nama_Toko,Kota_Toko
95,Iphone 11 256Gb 128Gb 64Gb Fulls...,4361000,140,5.0,Mimin Store,Jakarta Barat
96,Softcase Blackmatte Vivo V9 1727...,7500,139,4.8,Farah Collection ...,Kediri
97,Iphone Xs Max 512Gb 256Gb 64Gb F...,5500000,138,4.9,Mimin Store,Jakarta Barat
98,Softcase Auto Fokus Vivo Y17 Y15...,9500,136,4.9,Farah Collection ...,Kediri
99,Case Koper Samsung Galaxy A71 A7...,12500,136,4.9,Farah Collection ...,Kediri

- Diatas merupakan penggunaan metode .tail()  dalam pandas yang digunakan untuk memperlihatkan 5 baris terakhir dari Data Frame.

In [139]:
tabelutama = datadrop 

tabelutama["Nama_Produk"] = tabelutama["Nama_Produk"].str.strip()
tabelutama["Nama_Toko"] = tabelutama["Nama_Toko"].str.strip()
tabelutama["Kota_Toko"] = tabelutama["Kota_Toko"].str.strip()

tabelutama.head()

/var/folders/k4/p9gqmnnn2fq71n6qqpspbs2c0000gn/T/ipykernel_73108/293650670.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabelutama["Nama_Produk"] = tabelutama["Nama_Produk"].str.strip()
/var/folders/k4/p9gqmnnn2fq71n6qqpspbs2c0000gn/T/ipykernel_73108/293650670.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabelutama["Nama_Toko"] = tabelutama["Nama_Toko"].str.strip()
/var/folders/k4/p9gqmnnn2fq71n6qqpspbs2c0000gn/T/ipykernel_73108/293650670.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabelutama["Kota_Toko"] = tabelutama["Kota_Toko"].str.strip()

,Nama_Produk,Harga,Total_Terjual,Rating,Nama_Toko,Kota_Toko
0,Samsung Galaxy A12 4 128 Gb Garansi Resmi Sein,2476000,20612,4.9,Rdj Cell,Jakarta Pusat
1,Xiaomi Redmi 9A 2 32 Gb Garansi Resmi,1392000,16008,5.0,Rdj Cell,Jakarta Pusat
2,Xiaomi Redmi 9C 4 64 Gb Garansi Resmi,1941000,11334,5.0,Rdj Cell,Jakarta Pusat
3,Infinix Hot 11 Play 4 64 Gb Garansi Resmi,1834000,7490,5.0,Rdj Cell,Jakarta Pusat
4,Infinix Hot 11S Nfc 6 128 Gb Garansi Resmi,2469000,6764,5.0,Rdj Cell,Jakarta Pusat

- Terakhir adalah penggunaan metode .str.strip() salah satu cara memodifikasi tipe data string untuk menghilangkan spasi atau white space di awal dan di akhir teks tanpa menghilangkan  spasi dalam teks target. Kemudian menggunakan variable baru "tabelutama" untuk selanjutnya dilakukan pengolahan data sederhana dilanjutkan dengan mentransfer data ke bentuk csv.

In [101]:
tabelutama[(tabelutama['Harga']>=3000000) & (tabelutama['Rating']> 4.5)]

,Nama_Produk,Harga,Total_Terjual,Rating,Nama_Toko,Kota_Toko
5,Xiaomi Redmi Note 10S 8 128 Gb Garasni Resmi,3794000,5656,5.0,Rdj Cell,Jakarta Pusat
16,Xiaomi Redmi Note 10S 6 128 Gb Garansi Resmi,3104000,1442,4.9,Rdj Cell,Jakarta Pusat
19,Samsung Galaxy A52 8 128 Gb Garansi Resmi Sein,5128000,1356,5.0,Rdj Cell,Jakarta Pusat
50,Xiaomi Redmi Note 11 Pro 5G 8 128 Gb Garansi R...,4518000,290,5.0,Rdj Cell,Jakarta Pusat
51,Xiaomi Redmi Note 10 5G 8 128 Gb - Garansi Res...,3495000,290,5.0,Akbarstore,Jakarta Utara
56,Samsung Galaxy S20 Fe 8 128Gb Grs Resmi Sein,6999000,285,5.0,Pluto Sellular,Jakarta Timur
59,Xiaomi Redmi Note 10S 6 64Gb 8 128Gb - Grs Res...,3029000,278,5.0,Pluto Sellular,Jakarta Timur
64,Xiaomi Poco M3 Pro 5G 6 128 Gb - Garansi Resmi...,3283000,229,5.0,Akbarstore,Jakarta Utara
67,Xiaomi Redmi Note 10 Pro 6 128 Gb Garansi Resmi,3839000,225,5.0,Rdj Cell,Jakarta Pusat
78,Samsung Galaxy A22 5G 6 128 Gb - Garansi Resmi...,3594000,182,4.9,Akbarstore,Jakarta Utara
79,Samsung Galaxy A52 Ram 8 128Gb Garansi Resmi S...,4850000,180,4.8,Ovanstore,Jakarta Barat
95,Iphone 11 256Gb 128Gb 64Gb Fullset Second Norm...,4361000,140,5.0,Mimin Store,Jakarta Barat
97,Iphone Xs Max 512Gb 256Gb 64Gb Fullset Second ...,5500000,138,4.9,Mimin Store,Jakarta Barat

- Diatas merupakan bentuk penggunaan multiple condition, untuk menemukan data produk yang memiliki harga lebih besar atau sama dengan tiga juta, dan memiliki rating diatas 4.5.

In [104]:
tabelutama[tabelutama['Nama_Produk'].str.contains('Samsung')]

,Nama_Produk,Harga,Total_Terjual,Rating,Nama_Toko,Kota_Toko
0,Samsung Galaxy A12 4 128 Gb Garansi Resmi Sein,2476000,20612,4.9,Rdj Cell,Jakarta Pusat
6,Samsung M12 4 64 Gb Garasi Resmi Sein,2148000,5655,4.9,Rdj Cell,Jakarta Pusat
10,Samsung Galaxy A03 3 32 Gb Garansi Resmi Sein,1639000,1616,5.0,Rdj Cell,Jakarta Pusat
17,Samsung Galaxy A11 3Gb,2000000,1414,5.0,Arnold,Jakarta Barat
19,Samsung Galaxy A52 8 128 Gb Garansi Resmi Sein,5128000,1356,5.0,Rdj Cell,Jakarta Pusat
20,Samsung Galaxy A01 2Gb,1500000,873,5.0,Arnold,Jakarta Barat
23,Samsung Galaxy A13 4 128 Gb Garansi Resmi,2692000,812,5.0,Rdj Cell,Jakarta Pusat
26,Anti Crack Akrilik Samsung Grand 2 Duos 2016 A...,13000,778,4.9,Farah Collection,Kediri
29,Anti Crack Samsung J3 J7 Pro A3 2015 A12 Note ...,8000,737,4.9,Farah Collection,Kediri
34,Softcase Permen Samsung Galaxy A20 A30 M10 A20...,10500,539,4.9,Farah Collection,Kediri
35,Case Hybrid Matte Fuze Samsung Note 9 10 10 Pl...,4700,530,4.7,Garuda30,Jakarta Timur
38,Samsung7,1000000,507,5.0,Heppy Koes Raya,Banjarmasin
40,Softcase Dompet Tali Samsung Galaxy A01 A01 Co...,34500,388,4.9,Farah Collection,Kediri
46,Case Candy Samsung J2 Prime Grand Prime J2 Pro...,10500,367,4.9,Farah Collection,Kediri
47,Case Hybrid Matte Fuze Samsung M30S A10S A20S ...,4700,365,1.0,Garuda30,Jakarta Timur
56,Samsung Galaxy S20 Fe 8 128Gb Grs Resmi Sein,6999000,285,5.0,Pluto Sellular,Jakarta Timur
58,Samsung Galaxy A02 Rom 3 32Gb Garansi Resmi Se...,1545000,282,5.0,Kinantiline By Itc,Jakarta Pusat
60,Softcase Blackmatte Samsung J5 Prime J4 Plus J...,7500,238,4.8,Farah Collection,Kediri
68,Case Samsung Galaxy S9 S9 Plus S10 S10 Plus No...,90000,224,4.8,Garuda30,Jakarta Timur
78,Samsung Galaxy A22 5G 6 128 Gb - Garansi Resmi...,3594000,182,4.9,Akbarstore,Jakarta Utara
79,Samsung Galaxy A52 Ram 8 128Gb Garansi Resmi S...,4850000,180,4.8,Ovanstore,Jakarta Barat
82,Samsung Galaxy A02 3 32 Ram 3Gb Rom 32Gb Garan...,1500000,163,5.0,Cj7,Jakarta Pusat
83,Samsung19,400000,162,5.0,Heppy Koes Raya,Banjarmasin
87,Samsung Galaxy A7 A6 A6 Plus A8 A8 Plus J4 J6 ...,110000,158,4.8,Garuda30,Jakarta Timur
99,Case Koper Samsung Galaxy A71 A7 2018 A750 A51...,12500,136,4.9,Farah Collection,Kediri

- Diatas adalah salah satu pengolahan data bertipe string yaitu metode .str.contains, yang dalam kasus ini memiliki 
fungsi untuk mencari dan menunjukan baris pada kolom 'Nama_Produk" mana saja yang memiliki/mengandung kata 'Samsung' di dalamnya.

In [128]:
tabelutama.sort_values(['Total_Terjual', 'Nama_Produk'],ascending=False)

,Nama_Produk,Harga,Total_Terjual,Rating,Nama_Toko,Kota_Toko
0,Samsung Galaxy A12 4 128 Gb Garansi Resmi Sein,2476000,20612,4.9,Rdj Cell,Jakarta Pusat
1,Xiaomi Redmi 9A 2 32 Gb Garansi Resmi,1392000,16008,5.0,Rdj Cell,Jakarta Pusat
2,Xiaomi Redmi 9C 4 64 Gb Garansi Resmi,1941000,11334,5.0,Rdj Cell,Jakarta Pusat
3,Infinix Hot 11 Play 4 64 Gb Garansi Resmi,1834000,7490,5.0,Rdj Cell,Jakarta Pusat
4,Infinix Hot 11S Nfc 6 128 Gb Garansi Resmi,2469000,6764,5.0,Rdj Cell,Jakarta Pusat
...,...,...,...,...,...,...
95,Iphone 11 256Gb 128Gb 64Gb Fullset Second Norm...,4361000,140,5.0,Mimin Store,Jakarta Barat
96,Softcase Blackmatte Vivo V9 1727 Y17 Y15 Y12 2...,7500,139,4.8,Farah Collection,Kediri
97,Iphone Xs Max 512Gb 256Gb 64Gb Fullset Second ...,5500000,138,4.9,Mimin Store,Jakarta Barat
98,Softcase Auto Fokus Vivo Y17 Y15 Y12 2019 Y11 ...,9500,136,4.9,Farah Collection,Kediri
99,Case Koper Samsung Galaxy A71 A7 2018 A750 A51...,12500,136,4.9,Farah Collection,Kediri

- Berikut adalah tampilan nama produk dengan total penjualan tertinggi hingga terendah,dengan menggunakan metode .sort_values berdasarkan kolom "total_penjualan".

In [131]:
tabelutama.to_csv('coda_P0M1_Mirza_Sjarief.csv', index=False)

- Berikut adalah metode untuk mentransfer DataFrame ke dalam bentuk CSV, parameter index=False digunakan untuk mencegah index baris dalam DataFrame masuk ke dalam file CSV.